<section id="covers" class="section-covers ">

    <h2 class="visually-hidden">Covers</h2>
    <div class="content">
        <div class="marquee">
            <ul class="marquee__inner">
                <li class="marquee__line"><img src="https://placeholder.apptor.studio/830/479/product1.png" alt=""></li>
                <li class="marquee__line"><img src="https://placeholder.apptor.studio/830/479/product2.png" alt=""></li>
                <li class="marquee__line"><img src="https://placeholder.apptor.studio/830/479/product3.png" alt=""></li>
                <li class="marquee__line"><img src="https://placeholder.apptor.studio/830/479/product4.png" alt=""></li>
                <li class="marquee__line"><img src="https://placeholder.apptor.studio/830/479/product5.png" alt=""></li>
                <li class="marquee__line"><img src="https://placeholder.apptor.studio/830/479/product6.png" alt=""></li>
                <li class="marquee__line"><img src="https://placeholder.apptor.studio/830/479/product7.png" alt=""></li>
                <li class="marquee__line"><img src="https://placeholder.apptor.studio/830/479/product8.png" alt=""></li>
                <li class="marquee__line"><img src="https://placeholder.apptor.studio/830/479/product9.png" alt=""></li>
                <li class="marquee__line"><img src="https://placeholder.apptor.studio/830/479/product10.png" alt="">
                </li>
            </ul>
            <ul class="marquee__inner">
                <li class="marquee__line"><img src="https://placeholder.apptor.studio/830/479/product1.png" alt=""></li>
                <li class="marquee__line"><img src="https://placeholder.apptor.studio/830/479/product2.png" alt=""></li>
                <li class="marquee__line"><img src="https://placeholder.apptor.studio/830/479/product3.png" alt=""></li>
                <li class="marquee__line"><img src="https://placeholder.apptor.studio/830/479/product4.png" alt=""></li>
                <li class="marquee__line"><img src="https://placeholder.apptor.studio/830/479/product5.png" alt=""></li>
                <li class="marquee__line"><img src="https://placeholder.apptor.studio/830/479/product6.png" alt=""></li>
                <li class="marquee__line"><img src="https://placeholder.apptor.studio/830/479/product7.png" alt=""></li>
                <li class="marquee__line"><img src="https://placeholder.apptor.studio/830/479/product8.png" alt=""></li>
                <li class="marquee__line"><img src="https://placeholder.apptor.studio/830/479/product9.png" alt=""></li>
                <li class="marquee__line"><img src="https://placeholder.apptor.studio/830/479/product10.png" alt="">
                </li>
            </ul>
            <ul class="marquee__inner">
                <li class="marquee__line"><img src="https://placeholder.apptor.studio/830/479/product1.png" alt=""></li>
                <li class="marquee__line"><img src="https://placeholder.apptor.studio/830/479/product2.png" alt=""></li>
                <li class="marquee__line"><img src="https://placeholder.apptor.studio/830/479/product3.png" alt=""></li>
                <li class="marquee__line"><img src="https://placeholder.apptor.studio/830/479/product4.png" alt=""></li>
                <li class="marquee__line"><img src="https://placeholder.apptor.studio/830/479/product5.png" alt=""></li>
                <li class="marquee__line"><img src="https://placeholder.apptor.studio/830/479/product6.png" alt=""></li>
                <li class="marquee__line"><img src="https://placeholder.apptor.studio/830/479/product7.png" alt=""></li>
                <li class="marquee__line"><img src="https://placeholder.apptor.studio/830/479/product8.png" alt=""></li>
                <li class="marquee__line"><img src="https://placeholder.apptor.studio/830/479/product9.png" alt=""></li>
                <li class="marquee__line"><img src="https://placeholder.apptor.studio/830/479/product10.png" alt="">
                </li>
            </ul>
        </div>
    </div>
</section>