<header class="container header-container">
  <div class="header">
    <a class="logo" href="./index.html"
      ><span
        ><img
          class="logo-img"
          alt="foto jefferson"
          srcset="./img/header/logo.webp 1x, ./img/header/logo@2x.webp 2x"
          src="./img/header/logo.webp"
          width="80"
          height="80"
      /></span>
      jefferson*</a
    >
    <nav class="nav">
      <button class="burger-menu" type="button">
        <svg class="burger" width="28" height="28">
          <use href="../img/icons-sprite.svg#icon-burger-menu"></use>
        </svg>
      </button>
      <button type="button" class="menu">Menu</button>
      <a class="header-link">Order the project</a>
    </nav>
  </div>
</header>

<!-- <ul class="container">
  <li>About me</li>
  <li>Benefits</li>
  <li>Projects</li>
  <li>FAQ</li>
</ul> -->
