<section id="projects" class="page-projects">
    <div class="container">
        <h2 class="projects-title">PROJECTS</h2>
        <div class="swiper_pr">
            <ul class="projects-list swiper_pr-wrapper">

                <li class="swiper_pr-slide">

                    <div class="projects-items">
                        <ul class="projects-tech">
                            <li class="projects-tech-items">
                                <p>#react</p>
                            </li>
                            <li class="projects-tech-items">
                                <p>#js</p>
                            </li>
                            <li class="projects-tech-items">
                                <p>#node js</p>
                            </li>
                            <li class="projects-tech-items">
                                <p>#git</p>
                            </li>
                        </ul>
                        <div class="projects-list-text">
                            <p>Programming Across</p>
                            <p>Borders: Ideas,</p>
                            <p>Technologies, Innovations</p>
                        </div>
                        <a class="see-project" href="https://github.com/Merel1n/project-09/tree/main">See project</a>
                        <picture>
                            <source srcset="
                                       /img/projects/project-1-tablet.webp 1x,
                                        /img/projects/project-1-tablet@2x.webp 2x
                                      " media="(min-width: 768px)" />
                            <source srcset="
                                        /img/projects/project-1-mobile.webp   1x,
                                        /img/projects/project-1-mobile@2x.webp 2x
                                      " media="(max-width: 767px)" />
                            <img class="projects-img" src="/img/projects/project-1-mobile.webp"
                                alt="Expand your mind" />
                        </picture>
                    </div>
                </li>
                <!-- <li class="swiper_pr-slide">
                    <div class="projects-items">
                        <ul class="projects-tech">
                            <li class="projects-tech-items">
                                <p>#react</p>
                            </li>
                            <li class="projects-tech-items">
                                <p>#js</p>
                            </li>
                            <li class="projects-tech-items">
                                <p>#node js</p>
                            </li>
                            <li class="projects-tech-items">
                                <p>#git</p>
                            </li>
                        </ul>
                        <div class="projects-list-text">
                            <p>Programming Across</p>
                            <p>Borders: Ideas,</p>
                            <p>Technologies, Innovations</p>
                        </div>
                        <a class="see-project" href="https://github.com/Merel1n/project-09/tree/main">See project</a>
                        <picture>
                            <source srcset="
                                       /img/projects/project-2-tablet.webp   1x,
                                        /img/projects/project-2-tablet@2x.webp 2x
                                      " media="(min-width: 768px)" />
                            <source srcset="
                                        /img/projects/project-2-mobile.webp   1x,
                                        /img/projects/project-2-mobile@2x.webp 2x
                                      " media="(max-width: 767px)" />
                            <img class="project-img" src="/img/projects/project-2-mobile.webp" alt="petlove" />
                        </picture>
                    </div>
                </li>
                <li class="swiper_pr-slide">
                    <div class="projects-items">
                        <ul class="projects-tech">
                            <li class="projects-tech-items">
                                <p>#react</p>
                            </li>
                            <li class="projects-tech-items">
                                <p>#js</p>
                            </li>
                            <li class="projects-tech-items">
                                <p>#node js</p>
                            </li>
                            <li class="projects-tech-items">
                                <p>#git</p>
                            </li>
                        </ul>
                        <div class="projects-list-text">
                            <p>Programming Across</p>
                            <p>Borders: Ideas,</p>
                            <p>Technologies, Innovations</p>
                        </div>
                        <a class="see-project" href="https://github.com/Merel1n/project-09/tree/main">See project</a>
                        <picture>
                            <source srcset="
                                       /img/projects/project-3-tablet.webp   1x,
                                        /img/projects/project-3-tablet@2x.webp 2x
                                  " media="(min-width: 768px)" />
                            <source srcset="
                                        /img/projects/project-3-mobile.webp   1x,
                                        /img/projects/project-3-mobile@2x.webp 2x
                                  " media="(max-width: 767px)" />
                            <img class="project-img" src="/img/projects/project-3-mobile.webp" alt="image-watch" />
                        </picture>
                    </div>
                </li> -->
            </ul>
            <!-- <div class="swiper_pr-pagination"></div>
            <div class="swiper_pr-button-prev">
                <button class="swip-page-prev" type="button">
                    <svg class="icon" width="32" height="32">
                        <use href=".\img\icons-sprite.svg#icon-next-arrow"></use>
                    </svg>
                </button>
            </div>
            <div class="swiper_pr-button-next" type="button">
                <svg class="icon" width="32" height="32">
                    <use href=".\img\icons-sprite.svg#icon-prev-arrow"></use>
                </svg>
                <button class="swip-page-next"></button>
            </div> -->
        </div>
    </div>
</section>