<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<section class="reviews">
<h2 class="reviews-title">REVIEWS</h2>
<ul class="reviews-list">
  <li class="reviews-item">
    <img class="reviews-foto" src="" alt="">
    <p class="reviews-name"></p>
    <p class="reviews-txt"></p>
  </li>
  <li class="reviews-item">
    <img class="reviews-foto" src="" alt="">
    <p class="reviews-name"></p>
    <p class="reviews-txt"></p>
  </li>
  <li class="reviews-item">
    <img class="reviews-foto" src="" alt="">
    <p class="reviews-name"></p>
    <p class="reviews-txt"></p>
  </li>
  <li class="reviews-item">
    <img class="reviews-foto" src="" alt="">
    <p class="reviews-name"></p>
    <p class="reviews-txt"></p>
  </li>
  <li class="reviews-item">
    <img class="reviews-foto" src="" alt="">
    <p class="reviews-name"></p>
    <p class="reviews-txt"></p>
  </li>

</ul>

</section>
</body>
</html>