<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <section class="reviews">
    <h2 class="reviews-title">REVIEWS</h2>
    <div class="swiper-container">
      <ul class="swiper-wrapper reviews-list">
        <li class=" swiper-slide reviews-item">
          <img class="reviews-foto" src="" alt="">
          <p class="reviews-name"></p>
          <p class="reviews-txt"></p>
        </li>
        <li class="swiper-slide reviews-item">
          <img class="reviews-foto" src="" alt="">
          <p class="reviews-name"></p>
          <p class="reviews-txt"></p>
        </li>
        <li class="swiper-slide reviews-item">
          <img class="reviews-foto" src="" alt="">
          <p class="reviews-name"></p>
          <p class="reviews-txt"></p>
        </li>
        <li class="swiper-slider eviews-item">
          <img class="reviews-foto" src="" alt="">
          <p class="reviews-name"></p>
          <p class="reviews-txt"></p>
        </li>
        <li class="swiper-slide reviews-item">
          <img class="reviews-foto" src="" alt="">
          <p class="reviews-name"></p>
          <p class="reviews-txt"></p>
        </li>

      </ul>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
  </section>
</body>

</html>