<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reviews</title>
</head>

<body>
  <section class="reviews container">
    <h2 class="reviews-title">REVIEWS</h2>
    <div id="reviews-container" class="swiper-container">
      <ul class="swiper-wrapper"></ul>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
      <!-- Add Navigation -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
    <div id="error-message" class="not-found"></div>
  </section>



  <script src="/src/js/api.js"></script>
</body>

</html>