.section-about-me {
  padding-top: 32px;
  padding-bottom: 32px;
}

.about-me-title {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}

.about-me-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

.about-me-container {
  border-radius: 24px;
  height: 500px;
  padding: 32px;
  background: #242527;
}

.about-me-subtitle {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
}

.color-red {
  color: #ed3b44;
}

.color-grey {
  color: rgba(250, 250, 250, 0.4);
}

.about-me-content-img {
  border-radius: 24px;
  max-width: 343px;
  height: 500px;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .section-about-me {
    padding-bottom: 48px;
  }

  .about-me-wrapper {
    margin-bottom: 64px;
  }

  .about-me-container {
    height: 700px;
    padding: 64px;
  }

  .about-me-subtitle {
    font-size: 38px;
    line-height: 1.05;
  }

  .about-me-content-img {
    max-width: 704px;
    height: 700px;
  }
}

@media only screen and (min-width: 1440px) {
  .section-about-me {
    padding-top: 48px;
    padding-bottom: 82px;
  }

  .about-me-wrapper {
    flex-direction: row;
    margin-bottom: 96px;
  }

  .about-me-container {
    width: 680px;
  }

  .about-me-content-img {
    max-width: 680px;
  }
}

.accordion-container.am-accordion-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 32px;
}

.ac.am-accordion-item {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

.ac-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.ac-trigger.am-accordion-trigger {
  width: 36px;
  height: 36px;
  border-radius: 100px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.am-icon-button-down,
.am-icon-button-up {
  display: none;
}

.am-accordion-item .open {
  display: block;
}

.ac-panel.am-accordion-panel {
  display: flex;
  flex-direction: column;
  gap: 32px;
  overflow: hidden;
}

.ac-panel.am-accordion-panel.role,
.ac-panel.am-accordion-panel.education {
  max-width: 465px;
  gap: 10px;
}

.ac-text.am-accordion-text {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
}

.ac-text.education-first {
  max-width: 369px;
}

@media only screen and (min-width: 768px) {
  .accordion-container.am-accordion-list {
    gap: 32px;
    margin-bottom: 64px;
  }

  .ac.am-accordion-item {
    padding-bottom: 32px;
  }

  .ac-wrapper {
    margin-bottom: 8px;
  }

  .ac-trigger.am-accordion-trigger {
    width: 40px;
    height: 40px;
  }

  svg {
    width: 20px;
    height: 20px;
  }

  .ac-panel.am-accordion-panel {
    gap: 16px;
  }

  br {
    display: none;
  }
}

@media only screen and (min-width: 1440px) {
  .accordion-container.am-accordion-list {
    margin-bottom: 96px;
  }

  .ac-panel.am-accordion-panel {
    max-width: 612px;
    gap: 32px;
    margin-left: 696px;
  }

  br {
    display: block;
  }
}

.swiper.am-swiper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.swiper-wrapper.am-swiper-list {
  width: 260px;
}

.swiper-slide.am-swiper-item {
  width: 130px;
  height: 130px;
  border-radius: 100%;
  border: 1px solid rgba(250, 250, 250, 0.2);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
}

/* background-color: #ed3b44; */

@media only screen and (min-width: 768px) {
  .swiper-wrapper.am-swiper-list {
    width: 600px;
  }

  .swiper-slide.am-swiper-item {
    width: 200px;
    height: 200px;
    font-size: 20px;
  }
}

@media only screen and (min-width: 1440px) {
  .swiper.am-swiper {
    width: 1312px;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-wrapper.am-swiper-list {
    width: 1200px;
  }
}
