.covers {
  min-width: 320px;
  padding: 32px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/covers/bg-mobile.png);
}
body {
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.content {
  position: relative;
}
.marquee {
  position: absolute;
  right: -800px;
  left: 0;
  overflow: hidden;
}

.marquee-inner {
  display: flex;
  transform: rotate(16deg);
  margin: 20px;
}

.marquee-line {
  flex-shrink: 0;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 10);
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
/* .js-marquee-line {
  animation-name: marqueeLine;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
} */

@keyframes marqueeLine {
  from {
    transform: translateX(-20%);
  }

  to {
    transform: translateX(-180%);
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .covers {
    background-image: url(../img/covers/bg-mobile@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .covers {
    min-width: 768px;
    padding: 48px 0;
    background-image: url(../img/covers/bg-tablet.png);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .covers {
      background-image: url(../img/covers/bg-tablet@2x.png);
    }
  }
}
@media screen and (min-width: 1158px) {
  .covers {
    min-width: 1440px;
    padding: 84px 0px 80px 0px;
    background-image: url(../img/covers/bg-desktop.png);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .covers {
      background-image: url(../img/covers/bg-desktop@2x.png);
    }
  }
}
