.header {
  position: absolute;
  top: 32px;
  left: 32px;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
}
@media screen and (max-width: 767px) {
  .burger-menu {
  }
  .burger {
  }
  .menu {
    display: none;
  }
  .header-link {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
}
