.header {
  position: absolute;
  z-index: 10;
  width: 100%;
  top: 0px;
  left: 0;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px;
  background-color: transparent;
}
.logo {
  display: flex;
}
.logo-img {
  background-color: transparent;
}

.logo-img {
  width: 80px;
  height: 80px;
  border-radius: 18px;
  border: none;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .burger-menu {
    background-color: transparent;
    border: none;
    stroke: #fafafa;
    fill: #fafafa;
  }
  /* .header-container {
    width: 343px;
  } */
  .menu {
    display: none;
  }
  .header-link {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header {
    padding: 32px 32px;
  }
  .burger-menu {
    display: none;
  }
  .nav {
    display: flex;
    align-items: flex-start;
  }
  .menu {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fafafa;
    background-color: transparent;
    border: none;
  }
  .header-link {
    border-radius: 60px;
    padding: 18px 24px;
    min-width: 163px;
    background: #ed3b44;
    text-align: center;
  }
}
@media screen and (min-width: 1440px) {
  .menu {
  }
}
