.header {
  position: absolute;
  top: 32px;
  /* left: 32px; */
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
}
.logo-img {
  background-color: transparent;
}
@media screen and (max-width: 320px) {
  .header-container {
    width: 300px;
  }
}
@media screen and (max-width: 767px) {
  .burger-menu {
    background-color: transparent;
    border: none;
  }
  .header-container {
    width: 343px;
  }
  .menu {
    display: none;
  }
  .header-link {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
  .nav {
    display: flex;
    align-items: flex-start;
  }
  .menu {
    margin-right: 151px;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fafafa;
    background-color: transparent;
    border: none;
  }
  .header-link {
    border-radius: 60px;
    padding: 18px 24px;
    width: 163px;
    background: #ed3b44;
    text-align: center;
  }
}
@media screen and (min-width: 1440px) {
  .menu {
    margin-right: 487px;
  }
}
