.projects-items {
    min-width: 320px;
    height: 812px;
    background: linear-gradient(rgb(255, 255, 255) 50%, rgba(36, 37, 39, 1) 50%);
    border-radius: 24px;
}

@media screen and (min-width: 768px) {
    .projects-items {
        min-width: 704px;
        height: 1191px;
        background: #FAFAFA;
        border-radius: 24px;
        background: linear-gradient(rgb(255, 255, 255) 50%, rgba(36, 37, 39, 1) 50%);
    }
}

@media screen and (min-width: 1440px) {
    .projects-items {
        min-width: 1376px;
        height: 625px;
        border-radius: 24px;
        background: linear-gradient(to right, rgb(255, 255, 255) 50%, rgba(36, 37, 39, 1) 50%);
    }
}

.projects-title {
    font-family: Inter Tight;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(250, 250, 250, 0.4);
    margin-bottom: 32px;
}

.projects-img {
    padding: 100px 16px;
}

/* Programming Across Borders: Ideas, Technologies, Innovations */
.projects-list-text {
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.03em;
    color: #1C1D20;
}

/* content */
.project-tech {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    gap: 6px;
    margin-left: 32px;
    margin-top: 32px;
}

.projects-tech-items {
    /* block */

    box-sizing: border-box;

    /* Auto layout */
    /* display: flex;
    flex-direction: row; */
    /* justify-content: center;
    align-items: center; */
    text-align: center;
    padding: 13px 18px;
    /* gap: 10px; */
    max-width: 100px;

    border: 1px solid rgba(28, 29, 32, 0.2);
    color: rgba(28, 29, 32, 1);
    border-radius: 60px;
}