.reviews-title{
  font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: -0.02em;
color: rgba(250, 250, 250, 0.4);
}

.swiper-button-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.not-found {
  text-align: center;
  font-size: 1.5em;
  margin-top: 20px;
}

.swiper-slide {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
  width: 332px;
  height: 302px;
}

.review-img {
  width: 48px;
  height: 48px;

  border-radius: 50%;
}

.review-comment {
  margin: 10px 0;
  font-family: "Inter Tight", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: -0.02em;
color: rgba(250, 250, 250, 0.6);
}

.review-author{
font-weight: 600;
font-size: 20px;
line-height: 1.5;
letter-spacing: -0.02em;
color: #fafafa;
}
